# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/

# Tooling
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Streamlit
.streamlit/

# Environment and local data
.env
data/
*.h5ad

# OS/Editor
.DS_Store
.vscode/
.idea/
